@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
$color-primary: #571381;
$color-branco: #ffffff;
$color-cinza: #bab6b6;
$font-roboto-700: "Roboto Mono", monospace;
