$font-principal: "FontPrincipal", "Baloo Paaji 2", cursive;
$color-primary: #695aa6;
$color-secodary: #605393;
$color-branco: #ffffff;
$color-cinza: #bab6b6;
$font-roboto-700: "Baloo Paaji 2", cursive;
