@import "variaveis/variaveis";
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.9;
  scale: 1;
  padding: 10px;
  text-decoration: none;

  &__titulo {
    font-family: $font-principal;
    font-size: 24px;
    color: $color-primary;
    list-style: none;
  }
  &__titulo h4 {
    margin: 20px 20px;
  }
  &__descricao {
    font-size: 16px;
    font-family: $font-roboto-700;
  }
  &__icones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.card:hover {
  scale: 1.1;
}
