@import "variaveis/variaveis";
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  .cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 100vh;
    width: 100%;
    background-image: url(./header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &__conteudo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      &__titulo {
        font-size: 101px;
        font-family: $font-roboto-700;
        font-weight: 700;
        margin-bottom: 20px;
      }
      &__objetivo {
        font-family: $font-roboto-700;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      &__icones {
        text-decoration: none;
        display: flex;
        gap: 2rem;
        padding: 30px 0px;
      }
    }
  }
}

@media (max-width: 992px) {
  .banner {
    .cabecalho {
      height: 100vh;
      &__conteudo {
        text-align: center;

        &__titulo {
          font-size: 50px;
        }
        &__objetivo {
          font-size: 18px;
        }
        &__icones {
          justify-content: center;
        }
      }
    }
  }
}
