@import "variaveis/variaveis";
.pergunta {
  font-size: 18px;
  font-family: $font-roboto-700;
  color: $color-cinza;
}
.titulo {
  font-size: 32px;
  color: $color-primary;
  font-family: $font-roboto-700;
}
