@import "variaveis/variaveis";
.pergunta {
  font-size: 16px;
  font-family: $font-roboto-700;
  color: $color-cinza;
  margin-bottom: 6px;
}
.titulo {
  font-size: 43px;
  color: $color-primary;
  font-family: $font-principal;
  font-weight: 500;
  margin-bottom: 64px;
}
