@import "variaveis/variaveis";
.botao {
  border: none;
  width: 200px;
  border-radius: 20px;
  padding: 8px 15px;
  background-color: $color-primary;
  color: $color-branco;
  transition: 0.3s;
  font-family: $font-roboto-700;
  cursor: pointer;
}
.botao.estilo2 {
  color: $color-primary;
  background-color: $color-branco;
  padding: 6 12px;
  transition: 0.5s;
  border: 1px solid $color-primary;
  font-family: $font-roboto-700;
  margin-top: 52px;
}
.sm {
  width: 100px;
}
.botao:hover {
  color: $color-cinza;
}
.botao.estilo2:hover {
  color: $color-branco;
  background-color: $color-primary;
  border: none;
}
